body{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	padding-top: constant(safe-area-inset-top); /* iOS 11.0 */
	padding-top: env(safe-area-inset-top); /* iOS 11.2 */
}
main{
	flex: 1 0 auto;
	padding-top: 30px;
}

td,
th {
	padding: 5px 5px 5px 15px !important;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.alert {
	position: absolute;
	text-align: center;
	top: 10%;
	left: 20%;
	border-radius: 2px;
	background: rgba(255, 255, 200, 0.8);
	padding: 5px 5px;
	width: 60%;
	/* box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1); */
}
.modal-content{
	padding-bottom: 0px !important;
}
.modal-footer{
	padding: 2px 6px !important;
}
a {
	font-size: 1.2rem;
	color: black !important;
	/* border: 1px solid grey; */
	padding: 1px 7px;
	background: white !important;
	border-radius: 3px
}
a:hover {
	color: red !important;
}

td:nth-child(3) {
  width: 10%;
  text-align: center;
}

input {
	color: white;
}

input:focus {
	border-bottom: 1px solid white !important;
	box-shadow: 0 1px 0 0 grey !important;
}
#help{
	width:100%;
}

.page-footer {
	width: 100%;
	margin-bottom: constant(safe-area-inset-bottom); /* iOS 11.0 */
	margin-bottom: env(safe-area-inset-bottom); /* iOS 11.2 */
	}