body {
	padding-top: constant(safe-area-inset-top); /* iOS 11.0 */
	padding-top: env(safe-area-inset-top); /* iOS 11.2 */
	margin-bottom: 40px; /* Margin bottom by footer height */
	z-index: 0;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.iPhoneXHeader {
	padding-top: env(safe-area-inset-top);
}
.iPhoneXFooter {
	padding-bottom: env(safe-area-inset-bottom);
	padding-left: env(safe-area-inset-left);
	padding-right: env(safe-area-inset-right);
}
@supports (padding: max(0px)) {
	.iPhoneXFooter {
		padding-left: max(10px, env(safe-area-inset-left));
		padding-right: max(10px, env(safe-area-inset-right));
	}
}

main {
	/* margin-top: 80px; */
	cursor: pointer;
	/* padding-top: 40px; */
	flex: 1 0 auto;
	padding-top: 30px;
}

.nav-wrapper h6{
	font-size: 1.3rem;
}

.nav-wrapper{
	margin-top: -20px;
	padding-top: 45px;
}

nav{
	height: 70px;
}

td,
th {
	padding: 5px 5px 5px 15px !important;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.alert {
	position: absolute;
	text-align: center;
	top: 100px;
	left: 30%;
	border-radius: 3px;
	background: rgba(245, 245, 245, 1);
	padding: 5px 5px;
	width: 40%;
}
.modal-content{
	padding-bottom: 0px !important;
}
.modal-footer{
	padding: 2px 6px !important;
}
a {
	font-size: 1.2rem;
	color: black !important;
	/* border: 1px solid grey; */
	padding: 1px 7px;
	background: white !important;
	border-radius: 3px
}
a:hover {
	color: red !important;
}

td:nth-child(3) {
  width: 10%;
  text-align: center;
}

input {
	color: white;
}

input:focus {
	border-bottom: 1px solid white !important;
	box-shadow: 0 1px 0 0 grey !important;
}
#help{
	width:100%;
}

.page-footer {
	width: 100%;
	margin-bottom: constant(safe-area-inset-bottom); /* iOS 11.0 */
	margin-bottom: env(safe-area-inset-bottom); /* iOS 11.2 */
	}